
  <nav class="navbar fixed-top navbar-collapse navbar-dark box-shadow">
    <div class="container row-10">
      <a class="col navbar-brand" [routerLink]="['/']">
        <h1> AgencyEU </h1>
      </a>
      <div class="col justify-self-center">
        <div class="col-2">
          <span>+380950018640</span>
        </div>
        <div class="col-2">
          <span>+380950018640</span>
        </div>
      </div>


      <div class="col navbar-expand d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">Робота</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/counter']">Повернення податку</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/counter']">Про нас</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

