
<div class="jumbotron">
    <h1 class="display-4">Abouth US!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
   
<div class="row font-small mdb-color lighten-3">
    <div class="col-5">
        <h2>About works!</h2>
        <p>
            Lorem ipsum dolor sit amet, nisl illum utinam has an, eu cum dictas aperiam, sea nobis graecis disputando ex. Pri quot tollit honestatis cu, tamquam corpora mei at, ut nam docendi evertitur vulputate. Autem intellegam cum eu. Ea sed vero vidit, mei in petentium instructior. Vel no consul eloquentiam definitionem, ex ipsum populo mei, nam eu libris iracundia expetendis.
        </p>
    </div>
    <div class="col-7">
        <div style="overflow:hidden;position: relative;"><iframe width="700" height="440" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Pezda+(%D0%9D%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href=""></a> & <a href="https://iamsterdamcard.it">i amsterdamcard it</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
    </div>
</div>

</div>