
<div class="jumbotron">
    <h1 class="display-4">Робота закордоном</h1>
    <p class="lead">Знайди роботу, забезпеч своє майбутнє.</p>
    <hr class="my-4">
    
  <form [formGroup]="this.service.model.Form" (submit)="this.service.send()" >
    
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label>First name</label>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="col-md-4 mb-3">
        <label>Last name</label>
        <input type="text" class="form-control" formControlName="sname">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="birthday">Birthday:</label>
        <input type="date" class="form-control" id="birthday" formControlName="bd">
      </div>
    </div>

    <div *ngFor="let i of this.service.model.Form.controls['educations']['controls']">
      <form [formGroup] = "i"> 
        <div class="form-row"> 
          <div class="col-md-6 mb-3">
            <label for="Institution">Institution</label>
            <input type="text" class="form-control" id="Institution" formControlName="Institution" >
          </div>
          <div class="col-md-6 mb-3">
            <label for="Faculty">Faculty</label>
            <input type="text" class="form-control" id="Faculty" formControlName="Faculty" >
          </div>
        </div>
        <div class="form-row"> 
          <div class="col-md-4 mb-2">
            <label for="Form">Form</label>
            <select class="form-control" formControlName="Form">
              <option>Denna</option>
              <option>Zaochna</option>
            </select>
          </div>
          <div class="col-md-4 mb-2">
            <label for="Start">Start study</label>
            <input type="date" class="form-control" id="Start" formControlName="Start">
          </div>
          <div class="col-md-4 mb-2">
            <label for="Stop">Stop study</label>
            <input type="date" class="form-control" id="Stop" formControlName="Stop">
          </div>
        </div>
      </form>
    </div>

    <button class="btn btn-primary" (click)="this.service.addEducations()" >add</button>
 

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">City</label>
        <input type="text" class="form-control" >
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom04">State</label>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" >
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" >
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control"  rows="3"></textarea>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
        </div>
      </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
   
  </form>
  
</div>