
<app-carousel class="row justify-content-center" ></app-carousel>

<div class="row">
 <div class="col">
  <div class="jumbotron h-100" style="font-family: FiraSans-Regular; background-color: white;" >
    <h1 class="display-5">Знайди роботу в ЄС!</h1>
      <p class="lead">Заповніть анкету і наші спеціалісти підберуть для вас найкращий варіант розвитку в професійній сфері незважаючи на кордони! </p>
      <hr class="my-4">
      <button type="button" class="btn btn-primary btn-lg btn-block">Кнопка блочного уровня</button>
   
  </div>
 </div> 

  <div class="col">
    <div class="jumbotron h-100" style="font-family: FiraSans-Regular; background-color: white;" >
      <h1 class="display-5">І піди нахуй!!! Курва</h1>
      
      <p class="lead">Заповніть анкету і наші спеціалісти підберуть для вас найкращий варіант розвитку в професійній сфері незважаючи на кордони! </p>
      
        <hr class="my-4">
        <button type="button" class="btn btn-primary btn-lg btn-block justify-">Кнопка блочного уровня</button>
  
    </div>
  </div>
</div>

